/*======== GOOGLE FONTS ========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Space+Grotesk:wght@400;500;700&display=swap');

/*======== VARIABLES ========*/
:root {
    --header-height: 3rem;

    /*======== COLORS ========*/
    --first-color: 	hsl(355, 71%, 50%);
    --first-color-alt: 	hsl(354, 71%, 45%);
    --first-color-send: hsl(355, 71%, 55%);
    --title-color: hsl(0, 10%, 8%);
    --text-color: hsl(0, 2%, 35%);
    --text-color-light: hsl(0, 2%, 55%);
    --body-color: hsl(0, 60%, 99%);
    --container-color: 	hsl(0, 0%, 100%);

    /*======== font && typo ========*/
    /* .5rem = 8px, 1rem = 16px ... */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*======== font weight ========*/
    --font-semi-bold: 600;
    --font-bold: 700;

    /*======== margenes ========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*======== z-index ========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    }
}

/*======== BASE ========*/
*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*======== variables dark theme ========*/

/*======== button dark/light ========*/

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,h2,h3,ul,p {
    margin: 0;
}

h1,h2,h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*======== REUSABLE CLASSES ========*/
.section {
    padding: 4rem 0 2rem;
}

.section-title, .section-title-center {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-3);
}

/*======== LAYOUT ========*/
.l-main {
    overflow: hidden;
}

.bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*======== NAV ========*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
        padding: 2.5rem 0 0;
        text-align: center;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 0 4px rgba(0, 0, 0, .1);
        border-radius: 2rem;
        z-index: var(--z-fixed);
    }
}

.nav__item {
    margin-bottom: var(--mb-3);
}

.nav__link,
.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__link {
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}
/* show menu */
.show-menu {
    top: calc(var(--header-height) + 1rem);
}
/* active menu link */
.active-link {
    position: relative;
}

.active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
}

/* change background header */
.scroll-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}

/* scroll top */
.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(218, 37, 53, .5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    /* visibility: hidden; */
}

.scrolltop:hover {
    background-color: var(--first-color);
}

/*======== HOME ========*/

/*======== BUTTONS ========*/

/*======== SHARE ========*/

/*======== DECORATION ========*/

/*======== ACCESSORIES ========*/

/*======== SEND GIFT ========*/

/*======== FOOTER ========*/

/*======== BREAKPOINTS ========*/

/* for small devices */

/* for medium devices */

/* for large devices */

/* for 2K resolutions */

/* for 4K resolutions */